.sortorder:after {
  content: '\25b2';   /* BLACK UP-POINTING TRIANGLE */
}
.sortorder.reverse:after {
  content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLE */
}


.smaller {
  font-size: .875rem;
  vertical-align: middle;
}

.margin-top-4 {
  margin-top: 4px;
}


mat-card {
  /* margin-top: 0.25em; */
    padding-bottom: 0.5em;
    margin-bottom: 0.1em;


   
}


mat-card-title {
  margin-top: 1em;
    padding-top: 2em;
      padding-bottom: 2em;
}