<div class="mx-auto" style=" margin-top: 50px;">
  <div class="container" style="width: 80%; margin-top: 1em;">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 alc">
        <h1><span class="mytitle white">Lista Personaggi</span></h1>
      </div>
    </div>




    <mat-card>
      <mat-card-content>
        
      <div class="col-sm-10 alc" >

      <!-- tabella -->
        <div class="table" style="--bs-table-color: #ffffff1a; --bs-table-bg: transparent;">
          <div class="row white">
            <div class="col-1 smaller" >
              <mat-checkbox [checked]="allchecked" [indeterminate]="partialChecked" (change)="doallchecked()"></mat-checkbox>
            </div>
            <div class="col-3 all" style="margin-top: 8px;">
              <button mat-raised-button color="accent" class="full" (click)="sortBy('NomePG')">Nome
              <span class="sortorder" *ngIf="propertyName === 'NomePG'" [ngClass]="{reverse: order == 1}"></span>
              </button>
            </div>
            <div class="col-2 all" style="margin-top: 8px;">
              <button mat-raised-button color="accent" class="full" (click)="sortBy('nomeprofessione')">Professione
              <span class="sortorder" *ngIf="propertyName === 'nomeprofessione'" [ngClass]="{reverse: order == 1}"></span>
              </button>
            </div>
            <div class="col-3 all" style="margin-top: 8px;">
              <button mat-raised-button color="accent" class="full" (click)="sortBy('nomespecial')">Specialità
              <span class="sortorder" *ngIf="propertyName === 'nomespecial'" [ngClass]="{reverse: order == 1}"></span>
              </button>
            </div>

            <div class="col-1 smaller" style="margin-top: 4px;">
              SAN
            </div>
            <div class="col-1 smaller" style="margin-top: 4px;">
              Miti
            </div>
            <div class="col-1 smaller" style="margin-top: 4px;">
              Salute
            </div>
          </div>
          <div class="row white" *ngFor="let item of listapg">
            <div class="col-1 smaller"> <mat-checkbox [checked]="item.selected" (change)="checked(item)"></mat-checkbox> </div>
            <div class="col-3 all smaller"><a class="btn btn-outline-danger myx" routerLink="/personaggio/{{item.IDutente}}">{{item.NomePG}} {{item.CognomePG}}</a></div>
            <div class="col-2 all smaller">{{item.nomeprofessione}}</div>
            <div class="col-3 all smaller">{{item.nomespecial}}</div>
            <div class="col-1 smaller">{{item.Sanita}}</div>
            <div class="col-1 smaller">{{item.Miti}}</div>
            <div class="col-1 smaller">{{item.PF}}</div>
          </div>
        </div>

      </div>

      
      </mat-card-content>
      </mat-card>


    <div class="row justify-content-md-center mypad">
      <div style="text-align:center">
        <a [routerLink]="['/master']" class="btn btn-link">Ritorna alla pagina Custode</a>
      </div>
    </div>
  </div>
</div>
