.sortorder:after {
  content: '\25b2';   /* BLACK UP-POINTING TRIANGLE */
}
.sortorder.reverse:after {
  content: '\25bc';   /* BLACK DOWN-POINTING TRIANGLE */
}

.btn-std {
    color: #ff0000;
    background-color: transparent;
    border-color: transparent; /*set the color you want here*/
    text-align: left;
    padding-left: 0px;
    padding-right: 0px;

}
.btn-std:hover, .btn-std:focus, .btn-std:active, .btn-std.active, .open>.dropdown-toggle.btn-std {

    background-color: #3d3d3d;
    border-color: #285e8e; /*set the color you want here*/
}
.smaller {
  font-size: .875rem;
  vertical-align: middle;
}

.myx {
  background: rgba(0,0,0,0.5) !important;
  color: white;
}

.mya {
  background: rgba(0,0,0,0.5);
}
.mya:link {
    color: white;
}

.mya:visited {
    color: white;
}

.mya:active {
    color: white;
}

mat-card {
  /* margin-top: 0.25em; */
  font-size: 1em;
  margin-bottom: 0.25em;
}