<div div class="mx-auto" style=" margin-top: 50px;">
  <div class="container" style="background-color:black; background:rgba(0,0,0,0.5); color: white;">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 alc">
        <h1><span class="dred">Accesso Custode - Statistica</span></h1>
      </div>
    </div>

    <div class="row justify-content-md-center mypad" >
      <div class="col-sm-8 all" >Utenti registrati: {{registrati}}</div>
    </div>
    <div class="row justify-content-md-center mypad" >
      <div class="col-sm-8 all" >Personaggi iscritti: {{iscritti}}</div>
    </div>
    <div class="row justify-content-md-center mypad" >
      <div class="col-sm-8 all" >&nbsp;</div>
    </div>

    <div class="row justify-content-md-center mypad" >
      <div class="col-sm-8 alc" >

      <!-- tabella -->
        <div class="table">
          <div class="row red">
            <div class="col all">Professione</div>
            <div class="col">Numero personaggi</div>
            <div class="col alr">Percentuale</div>
          </div>
          <div class="row" *ngFor="let item of stat">
            <div class="col all">{{item.n}}</div>
            <div class="col">{{item.c}}</div>
            <div class="col alr">{{item.perc}}</div>
          </div>
        </div>

      </div>
    </div>

    <div class="row justify-content-md-center mypad">
      <div style="text-align:center">
        <a [routerLink]="['/master']" class="btn btn-link">Ritorna alla pagina Custode</a>
      </div>
    </div>
  </div>
</div>
