<div div class="mx-auto" style=" margin-top: 50px;">
  <div class="container" >
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;">
      <div class="col-sm-8 alc" >
          <span class="mytitle">Il Castello della Follia</span>
        <form name="loginForm" (ngSubmit)="doLogin()" #loginForm="ngForm" class="form-signin" >

          <div class="form-group">
            <input id="email" name="email" type="email" class="form-control" [(ngModel)]="loginCredentials.email" placeholder="Indirizzo Email" required autofocus>
          </div>
          <div class="form-group" >
            <input id="password" name="password" type="password" class="form-control" [(ngModel)]="loginCredentials.password" placeholder="Password" required >
          </div>
          <button type="submit" class="btn btn-lg btn-danger btn-block" [disabled]="!loginForm.form.valid" >Login</button>
          <div style="text-align:center">
            <a [routerLink]="['/register']" class="btn btn-link">Registrati</a>
            <div class=" alert, alert-danger">{{errmsg}}</div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
