<div div class="mx-auto" style=" margin-top: 50px;">
  <div class="container" >
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;" >
      <div class="col-sm-8 alc" >
        <span class="mytitle">Il Castello della Follia</span>
      </div>
    </div>
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;"  >
      <div class="col-sm-8">
        <p>Un evento live che vi porterà in un mondo di orrori ancestrali, mostri apocalittici e culti innominabili!</p>
        <p>Siete disposti a rischiare la vostra salute mentale per scoprire il lato più nascosto dell'ombra?</p>
      </div>
    </div>
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;" >
      <div class="col-sm-3" >
        <button type="button" class="btn btn-sm btn-danger w-100" (click)="goLogin()" >Accedi</button>
      </div>
      <div class="col-sm-3" >
        <button type="button" class="btn btn-sm btn-danger w-100" (click)="goRegister()">Registrati</button>
      </div>
    </div>
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;" >
      <div class="col" >
        &nbsp;
      </div>
    </div>
  </div>
</div>
