<div div class="mx-auto" style=" margin-top: 50px;">
  <div class="container" >
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;" >
      <div class="col-sm-8 alc" >
        <span class="mytitle">Il Castello della Follia</span>
      </div>
    </div>
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;"  >
      <div class="col-sm-8">
        <p>Un evento live che vi porterà in un mondo di orrori ancestrali, mostri apocalittici e <del>donne nude</del> culti innominabili!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;" >
      <div class="col-sm-3" >
        <button type="button" class="btn btn-sm btn-danger btn-block" (click)="goLogin()" >Accedi</button>
      </div>
      <div class="col-sm-3" >
        <button type="button" class="btn btn-sm btn-danger btn-block" (click)="goRegister()">Registrati</button>
      </div>
    </div>
    <div class="row justify-content-sm-center" style="background-color:black; background:rgba(0,0,0,0.5); color: white;" >
      <div class="col" >
        &nbsp;
      </div>
    </div>
  </div>
</div>
