<div style="width: 95%;">
  <button (click)="closemenu()" class="btn btn-std btn-sm" >
    <span>&times;</span>
  </button>
<ul>
  <li><button type="button" class="btn btn-md btn-std btn-block" (click)="openmodal('modalregolamento')">Regolamento</button></li>
  <li><button type="button" class="btn btn-md btn-std btn-block" (click)="openmodal('modalpx')">Logistica</button></li>
  <li><button type="button" class="btn btn-md btn-std btn-block" (click)="gotomodule('/spesapx')">Accesso Narrazione</button></li>



  <li>Menu Item</li>
  <li>Menu Item</li>
  <li><button type="button" class="btn btn-md btn-primary btn-block" (click)="dologout()">Registrati</button></li>
</ul>
</div>
