<div style="width: 95%;">
  <button (click)="closemenu()" class="btn btn-std btn-sm" >
    <span>&times;</span>
  </button>
<ul>
  <li><button type="button" class="btn btn-md btn-std w-100" (click)="openmodal('modalregolamento')">Regolamento</button></li>
  <li><button type="button" class="btn btn-md btn-std w-100" (click)="openmodal('modalnews')">News</button></li>
  <li><button type="button" class="btn btn-md btn-std w-100" (click)="gotomodule('loginmaster')" >Accesso Narrazione</button></li>

  <li *ngIf="status.IDutente!=0"><button type="button" class="btn btn-md btn-primary w-100" (click)="dologout()">Logout</button></li>
</ul>
</div>
