<div class="mx-auto" style=" margin-top: -50px; color: white;">
  <div class="container">
    <div class="row justify-content-md-center">
        <span class="mytitle">Il Castello della Follia</span>
    </div>
    <form [formGroup]="personaggioForm" #formDir="ngForm" class="form-signin" >
      <div class="row justify-content-md-center">
        <div class="col-2" style="background-image: url('assets/cornice2.png');  background-size: contain; background-repeat: no-repeat; padding-top: 43px;">
          <div class="img-overlay">
            <label for="avatar">
              <img src="assets/{{URLimg}}" style="padding-left: 13px;padding-bottom: 0px;margin-top: -5px;" class="avatar">
              <div class="overlay">
                <span class="text-overlay fa fa-upload" ></span>
              </div>
            </label>
          </div>
          <input id="avatar" name="avatar" type="file" accept="image/*" style="display:none;" (change)="fileChange($event)" >
        </div>

        <div class="col-10">
          <!-- inizio col9 -->
          <div style="background-image: url('assets/cornice.png');  background-size: cover; padding:75px; padding-bottom: 80px;">



          <div class="form-group row divrotate">


            <div class="col">
              <input id="nomepg" name="nomepg" type="text" class="form-control" formControlName="NomePG" placeholder="Nome del PERSONAGGIO" [pattern]="unamePattern" required >
              <div *ngIf="NomePG.invalid && (NomePG.dirty || NomePG.touched)" class="alert alert-danger" color="red">
                <div *ngIf="NomePG.errors.required">Inserire il nome del Personaggio</div>
                <div *ngIf="NomePG.errors.pattern">Carattere non ammesso</div>
              </div>
            </div>
            <div class="col">
              <input id="cognomepg" name="cognomepg" type="text" class="form-control" formControlName="CognomePG" placeholder="Cognome del PERSONAGGIO" [pattern]="unamePattern" required >
              <div *ngIf="CognomePG.invalid && (CognomePG.dirty || CognomePG.touched)" class="alert alert-danger" color="red">
                <div *ngIf="CognomePG.errors.required">Inserire il cognome del Personaggio</div>
                <div *ngIf="CognomePG.errors.pattern">Carattere non ammesso</div>
              </div>
            </div>
          </div>

          <div class="form-group row divrotate"  >
            <!-- <label for="desc" class="col-3 col-form-label" >Professione<span style="font-size:0.8em"><br>{{professioni[profPG.value-1].desc}}</span></label> -->
            <label for="desc" class="col-3 col-form-label" >Data di nascita</label>
            <div class="col-2">
              <input id="gg" name="gg" type="number" class="form-control" formControlName="ggPG" placeholder="gg" min=1 max=31  required  >
              <div *ngIf="ggPG.invalid && (ggPG.dirty || ggPG.touched)" class="alert alert-danger" color="red">
                <div *ngIf="ggPG.errors.required">Inserire il giorno</div>
                <div *ngIf="ggPG.errors.max || ggPG.errors.min">Errore di data</div>
              </div>
            </div>
            <div class="col-2">
              <input id="mm" name="mm" type="number" class="form-control" formControlName="mmPG" placeholder="mm" min=1 max=12  required >
              <div *ngIf="mmPG.invalid && (mmPG.dirty || mmPG.touched)" class="alert alert-danger" color="red">
                <div *ngIf="mmPG.errors.required">Inserire il mese</div>
                <div *ngIf="mmPG.errors.max || mmPG.errors.min">Errore di data</div>
              </div>
            </div>
            <div class="col-4">
              <input id="aaaa" name="aaaa" type="number" class="form-control" formControlName="aaaaPG" placeholder="aaaa" min=1900 max=2018  required >
              <div *ngIf="aaaaPG.invalid && (aaaaPG.dirty || aaaaPG.touched)" class="alert alert-danger" color="red">
                <div *ngIf="aaaaPG.errors.required">Inserire l'anno</div>
                <div *ngIf="aaaaPG.errors.max || aaaaPG.errors.min">Errore di data</div>
              </div>
            </div>
          </div>

          <div class="form-group row divrotate" *ngIf="professioni.length>0">
            <label for="professioni" class="col-3 col-form-label" >Tipologia di Professione</label>
            <div class="col">
              <select id="profpg" name="profpg" class="form-control" required formControlName="profPG">
                <option *ngFor="let i of professioni" [ngValue]="i.prof.IDprofessione" >{{i.prof.nomeprofessione}}</option>
              </select>
              <div *ngIf="profPG.value>0"><span style="font-size:0.8em">( Es: {{professioni[profPG.value-1].prof.desc}} )</span></div>
              <div *ngIf="profPG.invalid && (profPG.dirty || profPG.touched)" class="alert alert-danger" color="red">
                <div *ngIf="profPG.errors.required">Scegliere la tipologia di professione</div>
              </div>
            </div>
          </div>

          <div class="form-group row divrotate" >
            <label for="bonus" class="col-3 col-form-label" >Competenze</label>
            <div class="col">

              <div class="row" *ngIf="professioni.length>0 && profPG.value>0">
                <div class="col">
                  <button type="button" class="btn btn-sm  btn-secondary w-100" [ngClass]="{'btn-secondary': checkbonus[0]==0 , 'btn-success': checkbonus[0]==1} " (click)="docheck(0)"> {{professioni[profPG.value-1].bonus[0].descbp}}</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-sm  btn-secondary w-100" [ngClass]="{'btn-secondary': checkbonus[1]==0 , 'btn-success': checkbonus[1]==1}" (click)="docheck(1)"> {{professioni[profPG.value-1].bonus[1].descbp}}</button>
                </div>
                <div class="col">
                  <button type="button" class="btn btn-sm  btn-secondary w-100" [ngClass]="{'btn-secondary': checkbonus[2]==0 , 'btn-success': checkbonus[2]==1}" (click)="docheck(2)"> {{professioni[profPG.value-1].bonus[2].descbp}}</button>
                </div>
              </div>

              <div *ngIf="profPG.invalid && (profPG.dirty || profPG.touched)" class="alert alert-danger" color="red">
                <div *ngIf="profPG.errors.required">Scegliere la tipologia di professione</div>
              </div>
            </div>
          </div>


          <div class="form-group row divrotate" >
            <label for="specialita" class="col-3 col-form-label" >Specialità</label>
            <div class="col" *ngIf="professioni.length>0 && profPG.value>0">
              <select id="specpg" name="specpg" class="form-control" required formControlName="specPG">
                <option *ngFor="let i of professioni[profPG.value-1].spec" [ngValue]="i.IDspecial">{{i.nomespecial}}</option>
              </select>
              <div *ngIf="specPG.value>0">BONUS: {{getbonus(profPG.value-1,specPG.value) }} </div>
              <div *ngIf="specPG.value==0">&nbsp;</div>
              <div *ngIf="specPG.invalid && (specPG.dirty || specPG.touched)" class="alert alert-danger" color="red">
                <div *ngIf="specPG.errors.required">Scegliere la specializzazione</div>
              </div>
            </div>
          </div>

          <div class="form-group row divrotate" *ngIf="specPG.value==17">
            <label for="specialita" class="col-3 col-form-label" >Bonus a scelta</label>
            <div class="col" >
              <select id="xspecpg" name="xspecpg" class="form-control" required formControlName="xspecPG">
                <option *ngFor="let i of xspecial" [ngValue]="i.IDspecialx">{{i.xbonus}}</option>
              </select>
              <div *ngIf="xspecPG.invalid && (xspecPG.dirty || xspecPG.touched) && specPG.value==17" class="alert alert-danger" color="red">
                <div *ngIf="xspecPG.errors.required">Scegliere il bonus speciale</div>
              </div>
            </div>
          </div>





          <div class="form-group row justify-content-md-center divrotate" >
            <div class="col-8">
              <button type="button" class="btn btn-sm btn-danger w-100" [disabled]="(!(formDir.form.valid && checked && !formDir.form.pristine) && !changecheck)  || (aaaaPG.status == 'INVALID') ||(mmPG.status =='INVALID') || (ggPG.status =='INVALID') ||(specPG.status == 'INVALID' )" (click)="updatepg()">Aggiorna</button>
            </div>
          </div>

          </div>
          <!-- fine col9 -->
        </div>
      </div>
    </form>
  </div>
</div>
