<div class="mx-auto" style=" margin-top: 50px; color: white;">
  <form [formGroup]="personaggioForm" #formDir="ngForm" (ngSubmit)="doScheda()"  class="form-signin" >
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-2">
        <div class="img-overlay">
          <label for="avatar">
          <img src="assets/{{URLimg}}" height="150" width="150" class="avatar">
          <div class="overlay">
            <span class="text-overlay fa fa-upload" ></span>
          </div>
          </label>
        </div>
        <input id="avatar" name="avatar" type="file" accept="image/*" style="display:none;" (change)="fileChange($event.target.files)" >
      </div>

      <div class="col-9">
        <div class="form-group row" >
          <div class="col">
            <input id="nomepg" name="nomepg" type="text" class="form-control" formControlName="NomePG" placeholder="Nome del PERSONAGGIO" [pattern]="unamePattern" required >
            <div *ngIf="NomePG.invalid && (NomePG.dirty || NomePG.touched)" class="alert alert-danger" color="red">
              <div *ngIf="NomePG.errors.required">Inserire il nome del Personaggio</div>
              <div *ngIf="NomePG.errors.pattern">Carattere non ammesso</div>
            </div>
          </div>
          <div class="col">
            <input id="cognomepg" name="cognomepg" type="text" class="form-control" formControlName="CognomePG" placeholder="Cognome del PERSONAGGIO" [pattern]="unamePattern" required >
            <div *ngIf="CognomePG.invalid && (CognomePG.dirty || CognomePG.touched)" class="alert alert-danger" color="red">
              <div *ngIf="CognomePG.errors.required">Inserire il cognome del Personaggio</div>
              <div *ngIf="CognomePG.errors.pattern">Carattere non ammesso</div>
            </div>
          </div>
        </div>

        <div class="form-group row" *ngIf="professioni.length>0">
          <label for="professioni" class="col-3 col-form-label" >Tipologia di Professione</label>
          <div class="col">
            <select id="profpg" name="profpg" class="form-control" required formControlName="profPG">
            <option *ngFor="let i of professioni" [ngValue]="i">{{i.nomeprofessione}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row" *ngIf="professioni.length>0" >
          <label for="desc" class="col-3 col-form-label" >Professione {{profPG.IDprofessione}}</label>
          <div class="col">
            <input id="desc" name="desc" type="text" class="form-control" formControlName="DescProfessione" placeholder="{{profPG.value.desc}}" [pattern]="unamePattern" required >
          </div>
        </div>




        <div class="form-group row" >
          <div class="col">
            <p></p>
          <button type="button" class="btn btn-sm btn-danger btn-block" [disabled]="!formDir.form.valid" (click)="updatepg()">Aggiorna</button>
          </div>
        </div>
      </div>
    </div>

  </div>
  </form>
</div>
