<div style="background-color:black; background:rgba(0,0,0,0.5); color: white;"  >
<p>
  Benvenuti nel nuovo incubo a cui avete deciso di partecipare!<br>Iniziamo dalle basi.
  <p>Come potete vedere, la scheda del personaggio è molto semplice: dovete sceglire un nome, una data di nascita (coerente con la vostra età o con l’eventuale trucco che avete intenzione di
  utilizzare), una professione e, all'interno di questa, una specializzazione.
  <p>Ogni professione permette alcune conoscenze specifiche, tra cui scegliere, ed inoltre anche la specializzazione porta con sè dei bonus.
  <p>Al di là dei singoli bonus e conoscenze selezionate, le conoscenze e abiltà derivanti dalla specifica professione sono quelle che potete immaginare: un avvocato non saprà mai distinguere se una ferita
  è da taglio o fatta da un morso di un animale, così come un prete non potrebbe trovare tracce di veleno dentro un bicchiere, come invece potrebbe fare un investigatore.
  <p>Effettuate queste scelte, la scheda è completa. Come valore aggiuntivi avete i punteggi di Sanità Mentale (usualmente 10), Punti Vita (3 a meno di bonus specifici) e Conoscenze dei Miti (tipicamente 0).
  <p>Per la descrizione di questi valori, così come per tutti i dettagli del regolamento In-Game potete fare riefrimento al manualecompleto, che si può scaricare al <a href="./Manuale-castello-della-follia.pdf" target=”_blank”>seguente link</a>
</p>
</div>
