<div div class="mx-auto" style=" margin-top: 50px;">
  <div class="container" style="background-color:black; background:rgba(0,0,0,0.5); color: white;">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 alc">
        <h1><span class="dred">Accesso Custode - Oggetto</span></h1>
      </div>
    </div>

    <div class="row justify-content-md-center mypad" >
      <div class="col-sm-12 alc" >

      <!-- tabella -->
        <div class="table">
          <div class="row red">
            <div class="col-1">ID</div>
            <div class="col-2 all">Nome</div>
            <div class="col-6">Descrizione</div>
            <div class="col-2 alc">
              <div class="table mystyle">
                <div class="row red">
                  <div class="col">Effetti</div>
                </div>
                <div class="row red">
                  <div class="col">SAN</div><div class="col">MITI</div><div class="col">PF</div>
                </div>
              </div>
            </div>
            <div class="col-1">Canc.</div>
          </div>
          <!--- -->
      <form name="oggettoform" (ngSubmit)="doSave()" #oggettoForm="ngForm" class="form-cambia" >
          <!--- -->
          <div class="row" *ngIf="oggetto">
            <div class="col-1">{{oggetto.ogg.IDoggetto}}</div>
            <div class="col-2 all"><input name="nome" type="text" class="form-control" [(ngModel)]="oggetto.ogg.nome" required></div>
            <div class="col-6 all"><input name="dsc1" type="text" class="form-control" [(ngModel)]="oggetto.ogg.descrizione" required></div>
            <div class="col-2 alc">
              <div class="table mystyle">
                <div class="row">
                  <div class="col"><input name="bs" type="number" class="form-control" [(ngModel)]="oggetto.ogg.basesan"></div>
                  <div class="col"><input name="bm" type="number" class="form-control" [(ngModel)]="oggetto.ogg.basemiti"></div>
                  <div class="col"><input name="bpf" type="number" class="form-control" [(ngModel)]="oggetto.ogg.basepf"></div>
                </div>
              </div>
            </div>
            <div class="col-1">&nbsp;</div>
            <div class="col-12" *ngFor="let i of oggetto.eff">
              <div class="row">
                  <div class="col-1">&nbsp;</div>
                  <div class="col-2 all blue">({{i.nomeprofessione}})</div>
                  <div class="col-6 all">{{i.descrizione}}</div>
                  <div class="col-2 alc">
                    <div class="table mystyle">
                      <div class="row">
                        <div class="col">{{i.effettosan}}</div><div class="col">{{i.effettomiti}}</div><div class="col">{{i.effettopf}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-1"><button type="button" class="btn btn-sm btn-danger btn-block" (click)="delEff(i.IDeffetto)" >X</button></div>
              </div>
            </div>

            <div class="col-12">
              <div class="row">
                  <div class="col-1">&nbsp;</div>
                  <div class="col-2 all ">
                    <select id="prof" [(ngModel)]="neweffselect" name="prof" class="form-control" >
                      <option value=0>- Professione -</option>
                      <option *ngFor="let i of professioni" [ngValue]="i.IDprofessione">{{i.nomeprofessione}}</option>
                    </select>
                  </div>
                  <div class="col-6 all"><input name="newdsc" type="text" class="form-control" [(ngModel)]="neweffdescrizione" [required]="neweffselect!=0"></div>
                  <div class="col-2 alc">
                    <div class="table mystyle">
                      <div class="row">
                        <div class="col"><input name="nes" type="number" class="form-control" [(ngModel)]="neweffsan"></div>
                        <div class="col"><input name="nem" type="number" class="form-control" [(ngModel)]="neweffmiti"></div>
                        <div class="col"><input name="nepf" type="number" class="form-control" [(ngModel)]="neweffpf"></div>
                      </div>
                    </div>
                  </div>
                  <div class="col-1">A</div>
              </div>
            </div>





            <div class="col-12" *ngFor="let i of oggetto.pair">
              <div class="row">
                  <div class="col-1">&nbsp;</div>
                  <div class="col-2 all green">({{i.nome}})</div>
                  <div class="col-6 all">{{i.desc}}</div>
                  <div class="col-2 alc">
                    <div class="table mystyle">
                      <div class="row">
                        <div class="col">{{i.effettosan}}</div><div class="col">{{i.effettomiti}}</div><div class="col">{{i.effettopf}}</div>
                      </div>
                    </div>
                  </div>
                  <div class="col-1"><button type="button" class="btn btn-sm btn-danger btn-block" (click)="delPair(i.IDoggetto2)" >X</button></div>
              </div>
            </div>
            <div class="col-12" >
              <div class="row">
                <div class="col-3">&nbsp;</div>
                <div class="col-5 all"><button type="submit" class="btn btn-sm btn-danger btn-block" [disabled]="! (oggettoForm.form.valid && oggettoForm.form.touched)" >Salva</button></div>
                <div class="col-4">&nbsp;</div>
              </div>
            </div>
          </div>
          <!-- -->
        </form>
          <!-- -->
        </div>

      </div>
    </div>

    <div class="row justify-content-md-center mypad">
      <div style="text-align:center">
        <a [routerLink]="['/oggettilist']" class="btn btn-link">Ritorna alla pagina Oggetti</a>
      </div>
    </div>
  </div>
</div>
