<div>
  <p>
  <mat-toolbar>
    <!--
    <button mat-icon-button class="example-icon" aria-label="menu" (click)="sidenav.toggle()" >
      <mat-icon>menu</mat-icon>
    </button>
    -->
    <span style="font-family:Kunstler; font-size:2.5em;">Il Castello della Follia</span>
  </mat-toolbar>
</p>
</div>


<div class="container" style="width: 80%; margin-top: 1em; min-height: 85vh;">
  <p>
  <mat-card>
    <div class ="alc">
      <mat-card-title><span class="mytitle white">Accesso Custode</span></mat-card-title>
    </div>

    <mat-card-content>
      <div class="alc" >
        <div class="row justify-content-md-center " >
          <div class="col-6">
            <button mat-stroked-button color="accent" class ="full" (click)="gotostat()">Statistiche Iscritti</button>
          </div>
        </div>
        <div class="row justify-content-md-center " >
          <div class="col-6">
            <button mat-stroked-button color="accent" class ="full" (click)="gotopg()">Lista Personaggi</button>
          </div>
        </div>
        <div class="row justify-content-md-center " >
          <div class="col-6">
            <button mat-stroked-button color="accent" class ="full" (click)="gotooggetti()">Gestione Oggetti</button>
          </div>
        </div>
        <div class="row justify-content-md-center " >
          <div class="col-6">
            <button mat-stroked-button color="accent" class ="full" (click)="gotomagie()">Gestione Magie</button>
          </div>
        </div>
        <div class="row justify-content-md-center " >
          <div class="col-6">
            <button mat-stroked-button color="accent" class ="full" (click)="gotolistscan()">Oggetti Analizzati</button>
          </div>
        </div>
        <div class="row justify-content-md-center " >
          <div class="col-6">
            &nbsp;
          </div>
        </div>
                <div class="row justify-content-md-center " >
          <div class="col-6">
            <button mat-stroked-button color="accent" class ="full" (click)="logout()">Logout</button>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>

