<div div class="mx-auto" style=" margin-top: 50px;">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-8 alc" style="background-color:black; background:rgba(0,0,0,0.5); color: white;">
        <h1><span class="dred">Accesso Custode</span></h1>
      </div>
    </div>
    <div class="row justify-content-md-center mypad" >
      <div class="col-sm-6">
        <button type="button" class="btn btn-sm btn-block btn-std" (click)="gotostat()">Statistiche Iscritti</button>
      </div>
    </div>
    <div class="row justify-content-md-center mypad">
      <div class="col-sm-6">
        <button type="button" class="btn btn-sm btn-block btn-std" (click)="gotopg()">Lista Personaggi</button>
      </div>
    </div>
    <div class="row justify-content-md-center mypad">
      <div class="col-sm-6">
        <button type="button" class="btn btn-sm btn-block btn-std" (click)="gotooggetti()">Gestione Oggetti</button>
      </div>
    </div>
    <div class="row justify-content-md-center mypad">
      <div class="col-sm-6">
        <button type="button" class="btn btn-sm btn-block btn-std" (click)="gotolistscan()">Oggetti analizzati</button>
      </div>
    </div>
  </div>
</div>
