/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.css';

.red {
  color: #ff0000;
}
.blue {
  color: #1874cd;
}
.gold {
  color: #FFBF18;
}
.pink {
  color: #ff69b4;
}
.green {
  color: #008b00;
}
.white {
  color: #ffffff;
}

.dred {
  color: #b00000;
}

html, body {
	background-color: #000000;
	color: #ffffff;
	background-image: url('assets/back.png');
	background-repeat: no-repeat;
	background-position: center top;
  background-size: cover;
}


.alr {
  text-align: right;
}

.all {
  text-align: left;
}

.alc {
  text-align: center !important;
}

.full {
  width: 100%;
}


.tre {
  width: 32.5%;
}


@font-face {
font-family: "Kunstler";
src: url('assets/KUNSTLER.TTF');
}

.mytitle {
  font-size: 85px;
  font-family: Kunstler;
}


.mysubtitle {
  font-size: 65px;
  font-family: Kunstler;
}
